
.exchange-column {
  min-width: 120px;
}

.price-column {
  width: 100px;
}

.price-rate-column {
  width: 80px;
}

.ant-table-title {
  padding: 0 !important;
  border-radius: 0 !important;
}


.ant-tabs-nav-wrap { /* For tabs border */
  border-bottom: 1px solid black;
}
